## Subset of full dataset

This notebook extracts 100000 random tweets from the original dataset and saves as a csv

In [1]:
import pandas as pd
import numpy as np

In [3]:
df = pd.read_csv('training_1600000_processed_noemoticon.csv', 
                 encoding =  "ISO-8859-1", 
                names = ['target','id', 'date', 'flag', 'user','text' ])

In [4]:
df.head()

,target,id,date,flag,user,text
0,0,1467810369,Mon Apr 06 22:19:45 PDT 2009,NO_QUERY,_TheSpecialOne_,"@switchfoot http://twitpic.com/2y1zl - Awww, t..."
1,0,1467810672,Mon Apr 06 22:19:49 PDT 2009,NO_QUERY,scotthamilton,is upset that he can't update his Facebook by ...
2,0,1467810917,Mon Apr 06 22:19:53 PDT 2009,NO_QUERY,mattycus,@Kenichan I dived many times for the ball. Man...
3,0,1467811184,Mon Apr 06 22:19:57 PDT 2009,NO_QUERY,ElleCTF,my whole body feels itchy and like its on fire
4,0,1467811193,Mon Apr 06 22:19:57 PDT 2009,NO_QUERY,Karoli,"@nationwideclass no, it's not behaving at all...."

In [5]:
df100 = df.sample(n=100000, random_state = 33 )

In [9]:
len(df['user'].unique()), len(df100['user'].unique())

(659775, 83073)

In [11]:
len(df['user'].unique()) / len(df), len(df100['user'].unique())/len(df100)

(0.412359375, 0.83073)

In [13]:
len(df), len(df100)

(1600000, 100000)

In [14]:
df100.to_csv('tweets_100thou.csv', index=False)