In [1]:
from fastai2.text.all import *

In [2]:
df = pd.read_csv('data/tweets_100thou.csv')

## Create learner and load saved model

In [3]:
dls_lm = TextDataLoaders.from_df(df, is_lm=True, text_col='text', valid_pct=0.2, bs=128, shuffle_train=False)

/opt/conda/envs/fastai/lib/python3.8/site-packages/numpy/core/_asarray.py:83: VisibleDeprecationWarning: Creating an ndarray from ragged nested sequences (which is a list-or-tuple of lists-or-tuples-or ndarrays with different lengths or shapes) is deprecated. If you meant to do this, you must specify 'dtype=object' when creating the ndarray
  return array(a, dtype, copy=False, order=order)

In [ ]:
dls_clas = TextDataLoaders.from_df(df, valid_col="is_valid", text_col='text', label_col='target',shuffle_train=False, text_vocab=dls_lm.vocab)

/opt/conda/envs/fastai/lib/python3.8/site-packages/numpy/core/_asarray.py:83: VisibleDeprecationWarning: Creating an ndarray from ragged nested sequences (which is a list-or-tuple of lists-or-tuples-or ndarrays with different lengths or shapes) is deprecated. If you meant to do this, you must specify 'dtype=object' when creating the ndarray
  return array(a, dtype, copy=False, order=order)

In [ ]:
learn = text_classifier_learner(dls_clas, AWD_LSTM, drop_mult=0.5, metrics=accuracy)

In [ ]:
learn = learn.load('classifier_81')

## Getting predictions

In [8]:
preds = learn.get_preds()

In [37]:
valid2 = df[df['is_valid'] == True ]
valid2 = valid2.reset_index()

In [47]:
df_losses = pd.DataFrame({'loss': losses[0]}, index = losses[1])
df_losses.head()

           loss
7857   6.891279
2312   6.852468
773    6.196088
17645  6.138705
16906  5.094172

In [54]:
df_losses.sort_index()

           loss
0      0.012851
1      0.098128
2      0.492817
3      2.022236
4      1.166588
...         ...
19995  0.295312
19996  0.024013
19997  0.209569
19998  0.281944
19999  0.311004

[20000 rows x 1 columns]

In [51]:
df = pd.DataFrame.join(valid2, df_losses)

In [52]:
df.head()

,index,target,id,date,flag,user,text,is_valid,loss
0,1,4,2184967497,Mon Jun 15 16:41:10 PDT 2009,NO_QUERY,yeahshestamps,Making pasta and insalata blu with mom,True,0.012851
1,2,0,1691306190,Sun May 03 17:33:58 PDT 2009,NO_QUERY,Dubtron9000,Worst. Day. Ever. Needing some legitimate hug action. Show starts in 30,True,0.098128
2,13,0,2069440735,Sun Jun 07 15:53:05 PDT 2009,NO_QUERY,TDLQ,@HonnyDipp oh no today is not a good day. Aw doll,True,0.492817
3,14,4,1964990568,Fri May 29 15:08:48 PDT 2009,NO_QUERY,kmass21,"grr boys annoy the shit out of me, why cant i just hang with mah girls all the time",True,2.022236
4,31,4,1832703302,Sun May 17 21:18:39 PDT 2009,NO_QUERY,HeartlessHippie,FUCK YOU LORD OF THE FLIES I HATE YOU - bubbleant: O.O You hate it?! I loved it! lol But I read it a long... http://tumblr.com/xbw1t3cwz,True,1.166588

In [12]:
interp = ClassificationInterpretation.from_learner(learn)

In [13]:
losses = interp.top_losses()

In [18]:
df_losses.index

RangeIndex(start=0, stop=20000, step=1)

In [19]:
valid.index

Int64Index([    1,     2,    13,    14,    31,    44,    46,    47,    55,
               61,
            ...
            99946, 99948, 99966, 99968, 99969, 99971, 99972, 99978, 99988,
            99990],
           dtype='int64', length=20000)

In [15]:
df_toplosses = interp.plot_top_losses(10)

In [ ]:
valid2 = df[df['is_valid'] == True ]

In [ ]:
valid.head()

In [ ]:
valid

In [ ]:
type(preds), type(df_losses), type(df_toplosses)

In [ ]:
top_200losses = df_losses[0:200]

In [ ]:
?? ClassificationInterpretation.plot_top_losses

In [ ]:
?? learn.get_preds

In [ ]:
?? learn.summary